/* &display=swap&subset=cyrillic-ext */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic-ext);

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
body {
	font-family: Roboto;
}

.header {
	padding: 30px 0;
}

.our-impact {
	padding: 112px 0 212px;
	background: #29c3be url(../img/blob_green.png) 85% top / 50% auto no-repeat;
}
[class*="__container"] {
	max-width: 1020px;
	margin: 0 auto;
}
.our-impact__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.our-impact__img {
	position: relative;
	top: -200px;
	/* max-width: 498px; */
	/* align-self: flex-start; */
	border-radius: 50px;
}
.our-impact__list {
	display: flex;
	justify-content: space-between;
}
.our-impact__item {
	display: flex;
}
.our-impact__image {
	padding-right: 11px;
}
.our-impact__numeric {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
}
.our-impact__descr {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #5d62b5;
}

.promise {
	background: #f5f5f5;
	padding: 86px 0 122px;
}

.promise__items {
	display: flex;
	justify-content: space-between;
}
.promise__item {
	display: flex;
	max-width: 324px;
	align-items: flex-start;
}
.promise__img {
	display: flex;
	margin-right: 23px;
}
.promise_subtitle {
	font-weight: 900;
	font-size: 19px;
	line-height: 26px;
	color: #f2726f;
	margin-bottom: 20px;
}
.promise__descr {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4b4b4b;
}
.title {
	display: flex;
	flex-direction: column;
	max-width: 411px;
	color: #ffffff;
	margin-bottom: 75px;
}

.title__subtitle {
	display: flex;
	font-weight: 700;
	font-size: 12px;
	line-height: 24px;
	align-items: center;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.title_color-white .title__subtitle::before {
	content: "";
	display: flex;
	background: url(../img/overline_white.svg);
	width: 17px;
	height: 20px;
	margin: -6px 16px 0 0;
}
.title__text {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
}

.title_color-vio .title__subtitle::before {
	content: "";
	display: flex;
	background: url(../img/overline_violet.svg);
	width: 17px;
	height: 20px;
	margin: -6px 16px 0 0;
}

.title_color-vio .title__subtitle {
	color: #5d62b5;
}
.title_color-vio .title__text {
	color: #000000;
}
.title_color-vio {
	max-width: 583px;
}
